################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/obj/Debug/netcoreapp3.1
/obj
/.vs/jenkins_test/v16
/jenkins_test.csproj.user
